{% extends "base.html" %}
{% block title %}Web App{% endblock %}
{% block page_content %}

	<div class="jumbotron border border-success rounded">
		<h1 class="display-5">Application of Cognitive Radio to Industrial Wireless sensor Network</h1>
		<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
		</p>
	       	<p>
		<a class="btn btn-lg btn-success" href="#" role="button">Login</a>
		</p>
	</div>

{% endblock  %}


